@import '../components/Layout.css';
@import '../components/UI/carousel/carousel.css';
@import '../components/UI/news/case-study.css';

body {
  width: 100%;
  margin: 0;
}

[data-slate-editor] {
  -webkit-user-modify: read-write !important;
}
