/* Pagination */

.paginator {
  position: absolute;
  top: 20%;
  bottom: 20%;
  right: 135px;
  mix-blend-mode: exclusion;
  z-index: 10;
}

.paginator-home-line {
  height: 24%;
  width: 2px;
  background-color: var(--irbisio-off-white);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  transition: 1s;
}

.paginator-home-line.--hide {
  height: 0%;
}

.home-line-icon {
  margin-bottom: -24px;
  will-change: transform;
  transition: 1s;
}

.home-line-icon.--hide {
  transform: scale(0);
}

.spot-column {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
}

.dot {
  transition: 0.6s;
}

.dot:hover {
  transform: scale(4);
}

.dot:hover * {
  fill: var(--irbisio-orange);
}

.grow {
  transform: scale(3);
  transition: 0.6s;
}

@media (max-width: 990px) {
  .paginator {
    right: 32px;
    transform: scale(0.5);
  }
}
